{% extends 'layout.html' %}

{% block body %}


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="flip-container">
	      <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="flip-container">
        <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="flip-container">
        <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
        </div>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-sm">
      <div class="flip-container">
        <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img" alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img" alt="Random Magic Card">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="flip-container">
        <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img" alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img" alt="Random Magic Card">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="flip-container">
        <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img" alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img" alt="Random Magic Card">
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm">
        <div class="flip-container">
          <div class="flipper card">
            <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
            <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="flip-container">
          <div class="flipper card">
            <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
            <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="flip-container">
          <div class="flipper card">
            <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
            <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-sm">
      <div class="flip-container">
        <div class="flipper card">
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid front card-img " alt="Magic card back" >
          <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid  back card-img " alt="Random Magic Card">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
