{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm" id="magiccard1">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
    <div class="col-sm" id="magiccard2">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card2}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
    <div class="col-sm" id="magiccard3">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card3}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" id="magiccard4">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card4}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
    <div class="col-sm" id="magiccard5">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card5}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
    <div class="col-sm" id="magiccard6">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card6}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" id="magiccard7">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card7}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
    <div class="col-sm" id="magiccard8">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card8}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
    <div class="col-sm" id="magiccard9">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card9}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" id="magiccard10">
      <div class="front">
        <img src="{{url_for('static', filename='Magic_Card_Back.png')}}" class="img-fluid" alt="Magic card back">
      </div>
      <div class="back">
        <img src="{{card10}}" class="img-fluid" alt="Random Magic Card">
      </div>
    </div>-->
  </div>
</div>


{% endblock %}
