{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="{{card}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <img src="{{card2}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <img src="{{card3}}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{card4}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <img src="{{card5}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <img src="{{card6}}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{card7}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <img src="{{card8}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <img src="{{card9}}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{{card10}}" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>


{% endblock %}
