<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Synergy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class='container'>
      {% block body %}{% endblock %}
    </div>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.js"></script>
    <script>$("#magiccard1").flip();</script>
    <script>$("#magiccard2").flip();</script>
    <script>$("#magiccard3").flip();</script>
    <script>$("#magiccard4").flip();</script>
    <script>$("#magiccard5").flip();</script>
    <script>$("#magiccard6").flip();</script>
    <script>$("#magiccard7").flip();</script>
    <script>$("#magiccard8").flip();</script>
    <script>$("#magiccard9").flip();</script>
    <script>$("#magiccard10").flip();</script>
  </body>
</html
