<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Synergy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class='container'>
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.js"></script>

    <script type=text/javascript>

    $(function() {

      $('img').bind('click', function() {
        $(this).parent().toggleClass('flipped');
        console.log("click");

        if ($( this ).hasClass( "front" )) {
        $(this).siblings().addClass("active");
        $.ajax({
          type:'get',
          url: '/background_card',
          cashe:false,
          dataType:'json',
          success: function(data){

            console.log(JSON.stringify(data))
            $('.active' ).attr("src",data);
            console.log($('.active' ).attr("src"))
            $('.active').removeClass("active")
         },
         error: function(request, status, error) {
           console.log(error)
         }
       })
        };


        });
      return false;
      });


  </script>
  </body>
</html
