<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Synergy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class='container'>
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.js"></script>
    <script type=text/javascript>

    $(document).ready(function() {
      $("img.back").each(function(i) {

        $(this).addClass("active"+i);
        $.ajax({
          type:'get',
          url: '/background_card',
          cashe:false,
          dataType:'json',
          success: function(data){
            console.log("running")
            $('.active'+i ).attr("src",data);
            $('.active'+i).removeClass("active"+i)
         },
         error: function(request, status, error) {
           console.log(error)
       }

    })
  })
  });



    $(function() {

      $('img').bind('click', function() {

        if ($( this ).hasClass( "back" )) {
          $(this).addClass("active");
          $.ajax({
            type:'get',
            url: '/background_card',
            cashe:false,
            dataType:'json',
            success: function(data){
              $('.active' ).attr("src",data);
              $('.active').removeClass("active")
           },
           error: function(request, status, error) {
             console.log(error)
         }

        })
      };
      $(this).parent().toggleClass('flipped')
    });
      return false;
      });


  </script>
  </body>
</html
